<div class="displayTable" style="background-color: #6d8986">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Reset Password</h3>

      <p class="text-center">
        Please enter your email address to request a password reset.
      </p>

    
      <form [formGroup]="forgetPassowrdForm" (ngSubmit)="forgetPassoword()">
        <div class="formGroup">
          <!-- <label for="email">Email</label> -->
          <input type="text" placeholder="Email" formControlName="email" class="formControl"
            [ngClass]="{ 'is-invalid': submitted && this.forgetPassowrdForm.controls['email'].errors }" />
            <div *ngIf="submitted &&  this.forgetPassowrdForm.controls['email'].errors" >
              <span>{{emailErrorMessage}}</span>
            </div>
        </div>

        <div class="formGroup">
          <button [disabled]="loading" class="btn">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Reset Password
          </button>
          <!-- <a routerLink="/register" class="btn btn-link">Register</a> -->
        </div>
      </form>
    </div>

    <div class="redirectToLogin">
      <span
        >Go back to ?
        <span class="redirect" (click)="redirectToSignIn()">Log In</span></span
      >
    </div>
  </div>
</div>
