<section class="chat">
  <div class="chat__header" fxLayout="row" fxLayoutGap="16">
    <img
      *ngIf="!isGroupRoom"
      alt="avatar"
      mat-card-avatar
      src="../../../assets/account.jfif"
      [ngStyle]="{
        visibility: this.room && this.room.name.length > 0 ? 'unset' : 'hidden'
      }"
    />
    <img
      *ngIf="isGroupRoom"
      alt="avatar"
      mat-card-avatar
      src="../../../assets/user-group.png"
      [ngStyle]="{
        visibility: this.room && this.room.name.length > 0 ? 'unset' : 'hidden'
      }"
    />
    <div fxLayout="column" fxLayoutAlign="space-around start">
      <span style="font-size: 16px; font-weight: 450">{{
        this.room?.name
      }}</span>
      <ng-container *ngIf="(typing$ | async) && !isGroupRoom">
        <span style="color: darkgray; font-size: 13px"
          >typing<span class="jumping-dots">
            <span class="dot-1">.</span>
            <span class="dot-2">.</span>
            <span class="dot-3">.</span>
          </span></span
        >
      </ng-container>
      <ng-container *ngIf="(typing$ | async) && isGroupRoom">
        <span style="color: darkgray; font-size: 13px">
          {{ typingName }} is typing<span class="jumping-dots">
            <span class="dot-1">.</span>
            <span class="dot-2">.</span>
            <span class="dot-3">.</span>
          </span></span
        >
      </ng-container>
      <ng-container *ngIf="!(typing$ | async) && !isGroupRoom">
        <span class="typing-font" *ngIf="isOnline">online</span>
        <span class="typing-font" *ngIf="!isOnline">
          <span *ngIf="lastSeen && lastSeen.day !== null"
            >last seen {{ lastSeen && lastSeen.day }} at
            {{ lastSeen && lastSeen.time | date : "h:mm a" }}</span
          >
          <span *ngIf="lastSeen && lastSeen.day === null"
            >last seen {{ lastSeen && lastSeen.time | date : "dd/MM/yyyy" }} at
            {{ lastSeen && lastSeen.time | date : "h:mm a" }}</span
          >
        </span>
      </ng-container>
    </div>
    <div class="chat__header__right"></div>
  </div>
  <div class="chat__body_parent">
    <div class="chat__body_child">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div *ngIf="inputBoxVisibility" class="chat__footer">
    <form [formGroup]="sendMessageForm" (ngSubmit)="formSubmit()">
      <input
        type="text"
        formControlName="sendMessage"
        class="formControl"
        autocomplete="off"
        placeholder="Type a message"
        class="chat__footer__send-message"
      />
      <button class="btn btn-primary" type="submit">Send</button>
    </form>
  </div>
</section>
