<!-- <div style="margin-top: 30px;" fxLayout="row" fxLayoutAlign="center center" >
<div fxLayout="row" style="height: 90vh; width:70vw" fxLayoutAlign="space-around center">
  <div fxFlex="25" style="background-color: #db242454; height: 100% !important;"></div>
  <div div fxLayout="column" fxLayoutAlign=" none" fxFlex="75" style="height: 100%; background-color:rgb(245 242 239)">
    <div style=" background-color: #9e9e9e54" fxFlex="10">

    </div>
    <div style=" background-color: #53e33954" fxFlex="80">

    </div>
    <div style=" background-color: #7b333354" fxFlex="10">

    </div>
  </div>
</div>
</div> -->

<!-- <mat-card style="display:none;"></mat-card>
<div class="main">
  <header></header>
  <div class="main__body">
    <form>
      <input type="number" (keyup)="onKey($event)">
      <input type="number" (keyup)="onKey2($event)">
    </form>
    <router-outlet></router-outlet>
  </div>
</div> -->

<mat-card style="display:none;"></mat-card>
<app-loader></app-loader>
<div class="main">
  <header></header>
  <div class="main__body">
    <router-outlet></router-outlet>
  </div>
</div>