.sidebar {
  height: 100%;
  border-right: 1px solid lightgray;

  .sidebar__header {
    padding: 10px;
    padding-left: 20px;
    max-height: 60px;
    background-color: #EDEDED;


    &__icons {
       color: #919191;
      & > button mat-icon {
        margin-right: 1vw;
        font-size: 24px;
      }

    }
  }

  &__search {
    background-color: #F6F6F6;
    border-bottom: 1px solid #ccc;
    padding:10px;
     position: relative;

    &__content {
      width:fit-content;
      position:relative;

      &__icon {
        position: absolute;
        top:-5px;
        left:0px;
        color:#ccc;
        font-size: 14px;
      }

      &__input {
        border:1px solid lightgray;
        outline: none;
        border-radius: 20px;
        padding:8px 20px 8px 44px;

        &::placeholder {
          padding-left: 20%;
          font-size: small;
        }

      }
    }


  }

  &__content {
    overflow-y: scroll;
    flex:1;
  }
}


// CUSTOM SCROLL BAR


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;

}

/* Handle */
::-webkit-scrollbar-thumb {
  // background: #888;
  background: #89bdb8;
  width: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  // background: #555;
  background: #009688;
}
